**/__pycache__/

/data/*
/jars/*
**/logs/
test.py
# /airflow/logs/*
# logs/


venv/
venv_airflow/
venv_data/
bin/
lib/
include/

last_offset.txt

.codex
airflow/airflow.db
airflow/airflow-webserver.pid

.env*

